<!DOCTYPE html> 
<html> 

<head> 

<title>
  My website! 
  
  
  
</title>




</head>
<body> 

<center> <h1>Welcome!</h2> </center> 
<center> <img src= "https://scontent-lga3-1.cdninstagram.com/vp/7c53e5dc46df6b0f2924d038593be7e1/5BEEF645/t51.2885-19/s150x150/28152767_186092502154269_5595327129433669632_n.jpg"> </center>  
<h2>About me</h2>
<p> Hi there! My name is Kazi Nur. I am 17 years old. I was born in Feni, Bangladesh which is about 12,666 km away from here. I moved here on the september of 2016. I am currently a Junior attending Brooklyn International High School where students come  from different country with various backgrounds. I am a dreamer of my future and determined to make my dreams true in real life. Before I wasn't that outgoing person but now I loved traveling. Growing up I always looked up to my dad since he is my rolemodel and he possess every good qualities. He taught me to be brave, gave me freedom when I needed, motivated me when I needed and supported me in my down time. People especially my relatives say that I look more alike my dad since we have same height, face shape and unique hairline. My aunt was important to me because I adore her a lot and so she. She treats me like her own daughter. My favorite actress is Prianka Chopra. I love her style and sense of humor.</p>
<img src= "https://images.indianexpress.com/2018/08/pc759.jpg"> 
<h4> My favorite emoji is....</h4>
<img src= "https://cdn.macrumors.com/article-new/2017/11/crying-tears-of-joy-emoji-250x248.jpg?retina"> 
<p> My favorite cultural activity is Eid when we celebrate happiness with everyone. We laugh a lot, eat bunch of delicious food, dress up, visit other people's house and thank god. My favorite music genre is World music because I love to listen musics from all over the world. In my playlist, I have korean, japanese, bengali, indian, spanish, english and so on. My favorite clothing brand is Forever 21 and H&M. My alltime favorite place to take an out-town guest would be korea town because I just love the vibe out there. There's so many korean foods that you can try and shop so many cute korean stuffs like keychain, phone case, merch and so on.</p>
<img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/USA-NYC-Koreatown99.jpg/325px-USA-NYC-Koreatown99.jpg"> 
<h3> Cooking</h3>
<ul> 
I can make noodles, pasta, soup, cupcakes, rice pudding, mac & cheese, traditional sweets (Jelabi, Rasamalai, chamcham, sandesh), smoothie, choco chip/sugar/emoji cookies, pancakes. 
</ul>
<ul> I love to eat italian pasta, california roll, chicken over rice, gyro, ice-cream, thai soup, korean ramen, chips, bbq, chocolate cake, chicken with jalapeno pizza, hot dog, waffles, traditional bengali food, momos, chicken sandwich, popcorn and so on that I can't even list all of them :)</ul>
</body>


</html>