<!DOCTYPE html> 
<html> 

<head> 

<title>
  Kazi! 
  
  
  
</title>




</head>
<body> 

<h1> About me </h2> 
<p> Hi there! My name is Kazi Nur. I am currently a Junior attending Brooklyn International High School where students come  from different country with various backgrounds. I am a very focused, organized and active person. I am a dreamer of my future and determined to make my dreams true in real life. Before I wasn't that outgoing person but now I loved traveling. </p>
<img src= 
</body>


</html>